# dependencias
node_modules/

# next.js
.next/
out/

# producción
build/

# testing
coverage/

# varios
.DS_Store
*.tgz
*.pem
.env
.env*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
